<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>시아</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="시아">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!-- css 파일 require -->
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/scss" href="scss/style.scss"/>
    <script src="js/index.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  
  

  <body style="background-color: #2C2F33;">
    
    <!-- navigation bar -->
    <ul>
      <li><a href="#home">홈</a></li>
      <li><a href="#news">지원서버</a></li>
      <li><a href="#contact">봇 초대하기</a></li>
      <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
   
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div style="height:200vh">
  <div id="background" class="background-div">
    <div id="myDropdown" class="dropdown">
    </div>
    <div class="contact-title">
    </div>
  </div>

 <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column0">상태</th>
                </tr>
              </thead>
              <tbody class="table">
           
                <tr>
                  <td class="column0"><%= client.presence.status %></td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<center>
    <div class="banner">
    유저들에게 행복을 주는 봇, 시아<br>
    유틸리티, 관리, 미니게임, 귀여움
    </div>
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">서버수</th>
                <th class="column2">유저수</th>
                <th class="column3">블랙수</th>
              </tr>
            </thead>
            <tbody class="table">
              <% posts.forEach(function(post) { %>
              <tr>
                <td class="column1"><%= post.guilds %></td>
                <td class="column2"><%= post.users %></td>
                <td class="column3"><%= post.blacklists %></td> 
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</center>
  </body>
</html>